In [1]:
cd /raid/mnt/Yeoneui/ETRI

/raid/mnt/Yeoneui/ETRI

In [11]:
ls 2018_user/2

1542246000_label.csv  1542598620_label.csv  1543113120_label.csv
1542331380_label.csv  1542682860_label.csv  1543206960_label.csv
1542413460_label.csv  1542766560_label.csv  1543282380_label.csv
1542533880_label.csv  1542851160_label.csv  1543365960_label.csv

In [3]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('/raid/mnt/Yeoneui/ETRI/2018_user/1/1542244200_label.csv')
df
#print(df.shape)

     Unnamed: 0          ts action  condition  emotionPositive  emotionTension
0             0  1542244200  study          3                4               6
1             1  1542244260  study          3                4               6
2             2  1542244320  study          3                4               6
3             3  1542244380  study          3                4               6
4             4  1542244440  study          3                4               6
..          ...         ...    ...        ...              ...             ...
646         646  1542289980  study          2                4               6
647         647  1542290040  study          2                4               6
648         648  1542290100  study          2                4               6
649         649  1542290160  study          2                4               6
650         650  1542290220  study          2                4               6

[651 rows x 6 columns]

## Load data

In [ ]:
# load a single file as a numpy array
def load_file(filepath):
 dataframe = read_csv(filepath, header=None, delim_whitespace=True)
 return dataframe.values

In [ ]:
# load a list of files into a 3D array of [samples, timesteps, features]
def load_group(filenames, prefix=''):
 loaded = list()
 for name in filenames:
 data = load_file(prefix + name)
 loaded.append(data)
 # stack group so that features are the 3rd dimension
 loaded = dstack(loaded)
 return loaded

In [ ]:
# load a dataset group, such as train or test
def load_dataset_group(group, prefix=''):
 filepath = prefix + group + '/Inertial Signals/'
 # load all 9 files as a single array
 filenames = list()
 # total acceleration
 filenames += ['total_acc_x_'+group+'.txt', 'total_acc_y_'+group+'.txt', 'total_acc_z_'+group+'.txt']
 # body acceleration
 filenames += ['body_acc_x_'+group+'.txt', 'body_acc_y_'+group+'.txt', 'body_acc_z_'+group+'.txt']
 # body gyroscope
 filenames += ['body_gyro_x_'+group+'.txt', 'body_gyro_y_'+group+'.txt', 'body_gyro_z_'+group+'.txt']
 # load input data
 X = load_group(filenames, filepath)
 # load class output
 y = load_file(prefix + group + '/y_'+group+'.txt')
 return X, y